<section>
    <!-- Top Middle Menu start-->
    <div class="menu">
        <ul>
            <li>
                <a href="" ng-click="goToPage('/home')">Home</a>
            </li>
            <li class="active">
                <a href="" ng-click="goToPage('/createEvent')">Create Event</a>
            </li>
            <li >
                <a href="" ng-click="goToPage('/createGroup')">Create Group</a>
            </li>
        </ul>
    </div>
    <!-- Top Middle Menu end-->

    <!-- Middle Column start-->
    <div class="midcolumn">
        <div class="group-creation">
            <fieldset>
                <legend>Create Event </legend>

                <!-- Create Event Form start-->
                <form>
                    <label style="width: 150px">*Event name: </label>
                    <input type="text" name="eventName" size="30" ng-model="eventName"> </input><br><br>

                    <label style="width: 150px">*Event description: </label>
                    <input type="text" name="eventDescription" ng-model="eventDescription" size="50"> </input><br><br>

                    <label style="width: 150px">Location: </label>
                    <input type="text" name="location" ng-model="location" size="50"> </input><br><br>

                    <label style="width: 150px">*Start Date/Time: </label>
                    <div id="Sdatetimepicker" class="input-append date">
                        <input style="width: 166px;" type="text" ng-model="startTime"></input>
                        <span class="add-on dateBtn">
                            <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                        </span>
                    </div><br>

                    <script type="text/javascript">
                        $('#Sdatetimepicker').datetimepicker({
                            format: 'dd/MM/yyyy hh:mm:ss',
                            language: 'En'
                        });
                    </script>

                    <label style="width: 150px">*End Date/Time: </label>
                    <div id="Edatetimepicker" class="input-append date">
                        <input style="width: 166px;" type="text" ng-model="endTime"></input>
                        <span class="add-on dateBtn">
                            <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                        </span>
                    </div><br>

                    <script type="text/javascript">
                        $('#Edatetimepicker').datetimepicker({
                            format: 'dd/MM/yyyy hh:mm:ss',
                            language: 'En'
                        });
                    </script>

                    <label style="width: 150px">Invite friend:  </label>
                    <input type="text" name="invitedPeople" size="50" ng-model="invitedPeople"> </input><br><br>

                    <label style="width: 150px">Tag:</label>
                    <angucomplete id="tagsSearch"
                        placeholder="Search tags"
                        pause="100"
                        selectedobject="selectedTags"
                        url="searchContextUrl"
                        searchfields="description"
                        titlefield="label,description,aliases"
                        inputclass="ng-pristine ng-valid"
                        matchclass="highlight"
                        setemptyaftersearch="true" />
                        
                    <div class="tagList" ng-repeat="selectedTag in selectedTags">
                        <button class="btn btn-primary" type="button" ng-click="deleteTag($index)">X</button>
                        <span class="bold-span">{{selectedTag.title}} </span>
                        <br>
                    </div><br>

                    <input type="checkbox" name="isPublic" ng-model="privacy"
                    ng-true-value="'true'" ng-false-value="'false'" ></input>
                    <label style="width: 150px">Public to all  </label> <br><br>

                    <button class="btn btn-primary" type="button" ng-click="createEvent()">Create</button>
                </form>
                <!-- Create Event Form end-->


                <!-- Message Box Fade in and fade out javascript code start-->
                <script>
                    $(function(){
                     setTimeout(function() {
                            $(".content1").addClass("fadeOutLeft"); 
                      },3000);
                    });
                </script>
                <!-- Message Box Fade in and fade out javascript code end-->

                <!-- Message Box Code start-->
                <div class="footer1">
                    <div ng-class="{content1: ok, animated3:ok, fadeInLeft:ok, animated:ok}" class="message"  ng-repeat="message in messages">
                        {{message.note}}
                    </div>
                </div>
                <!-- Message Box Code end-->

            </fieldset>
        </div>
    </div>
    <!-- Middle Column end-->

</section>