<section>
      <div class="leftcolumn">
        <div class="profile">
            <img ALT="Münevver Calayır" title="Münevver Calayır" src="images/profile.jpg" />
            <p>Münevver Calayır</p>
            <a href="" ng-click="goToPage('/profileEdit')">Edit Profile</a>
        </div>
        <ul>
            <li>
                <a href="" ng-click="goToPage('/myProfile')">
                    <img src="images/profile.png" />
                    <p>My Profile</p>
                </a>
            </li>
            <li>
                <a href="" ng-click="goToPage('/myEvents')">
                    <img src="images/event.png" />
                    <p>Events</p>
                </a>
            </li>
            <li>
                <a href="" ng-click="goToPage('/myGroups')">
                    <img src="images/group.png" />
                    <p>Groups</p>
                </a>
            </li>
            <li>
                <a href="" ng-click="goToPage('/myFriends')">
                    <img src="images/group.png" />
                    <p>Friends</p>
                </a>
            </li>
        </ul>
                </div>
                <div class="menu">
                  <ul>
                    <li>
                        <a href="" ng-click="goToPage('/home')">Home</a>
                    </li>
                    <li class="active">
                        <a href="" ng-click="goToPage('/createEvent')">Create Event</a>
                    </li>
                    <li >
                        <a href="" ng-click="goToPage('/createGroup')">Create Group</a>
                    </li>
                </ul>
            </div>

            <div class="midcolumn">
                <div class="group-creation">



                    <fieldset>
                        <legend>Create Event </legend>
                        <form ng-submit="createEvent()">
                            <label style="width: 150px">Event name: </label>
                            <input type="text" name="eventName" size="30" ng-model="eventName" > </input><br><br>

                            <label style="width: 150px">Event description: </label>
                            <input type="text" name="eventDescription" ng-model="eventDescription" size="50"> </input><br><br>

                            <label style="width: 150px">Start time/Date </label>
                            <input type="datetime-local" name="startTime" ng-model="startTime" > </input><br><br>

                            <label style="width: 150px">End time/Date </label>
                            <input type="datetime-local" name="endTime" ng-model="endTime" > </input><br><br>

                            <label style="width: 150px">Invite people/groups:  </label>
                            <input type="text" name="invitedPeople" size="50" ng-model="invited" > </input><br><br>

                            <label style="width: 150px">tag:  </label>
                            <input type="text" name="tag" size="50" ng-model="tag"> </input><br><br>

                            <input type="checkbox" name="isPublic" ng-model="checkboxModel"
                            ng-true-value="'true'" ng-false-value="'false'" ></input>
                            <label>Public to all  </label> <br>

                            <button type="submit">Create</button>
                            <button type="reset">Reset</button><br><br>
                        </form>

                    </fieldset>

                </div>

            </div>

            <div class="rightcolumn">
              <div class="notification">
                 <p class="title">NOTIFICATIONS</p>
                 <div class="notice">
                    <img src="images/2.jpg" />
                    <p class="not-title">Sara</p>
                    <p class="not-detail"> joined the group "Math funs".</p>
                </div>
                <div class="notice">
                    <img src="images/3.jpg" />
                    <p class="not-title">Ali</p>
                    <p class="not-detail"> joined the group "Math funs".</p>
                </div>
                <div class="notice">
                    <img src="images/suzan.jpg" />
                    <p class="not-title">Suzan </p>
                    <p class="not-detail"> joined the group "Math funs".</p>
                </div>
            </div>
            <div class="suggested-groups">
             <p class="title">SUGGESTED GROUPS</p>
             <div class="notice">
                <img src="images/1.jpg" />
                <p class="not-title">Ali</p>
                <p class="not-detail"> joined the group "Math funs".</p>
            </div>
            <div class="notice">
                <img src="images/suzan.jpg" />
                <p class="not-title">Suzan Üsküdarlı</p>
                <p class="not-detail"> joined the group "Math funs".</p>
            </div>
        </div>

    </div>
</section>