<section>
    
    <!-- Top Middle Menu start-->
	<div class="menu">
		<ul>
            <li>
                <a href="" ng-click="goToPage('/home')">Home</a>
            </li>
            <li>
                <a href="" ng-click="goToPage('/createEvent')">Create Event</a>
            </li>
            <li class="active">
                <a href="" ng-click="goToPage('/createGroup')">Create Group</a>
            </li>
		</ul>
	</div>
    <!-- Top Middle Menu end-->

    <!-- Middle Column start-->
	<div class="midcolumn">
		<div class="group-creation">	 
            <fieldset>
            <legend>Create Group</legend>

                <!-- Create Group Form start-->
                <form ng-submit="createGroup()">
                    <label style="width: 150px">Group name: </label>
                    <input type="text" name="groupName" size="30" ng-model="groupName" > </input><br><br>

                    <label style="width: 150px">Group description: </label>
                    <input type="text" name="groupDescription" size="50" ng-model="groupDescription" > </input><br><br>

                    <label style="width: 150px">Invite people/groups:  </label>
                    <input type="text" name="invitedPeople" size="50" ng-model="invitedPeople" > </input><br><br>

                    <label style="width: 150px">Tag:  </label>
                    <angucomplete id="tagsSearch"
                        placeholder="Search tags"
                        pause="100"
                        selectedobject="selectedTags"
                        url="searchContextUrl"
                        searchfields="description"
                        titlefield="label,description,aliases"
                        inputclass="ng-pristine ng-valid"
                        matchclass="highlight"
                        setemptyaftersearch="true" />
                    <div class="" ng-repeat="selectedTag in selectedTags">
                        <span class="bold-span">{{selectedTag.searchString}} - </span>
                        <span class="bold-span">{{selectedTag.originalObject.label}} - </span>
                        <span class="bold-span">{{selectedTag.originalObject.description}} </span>
                        <button class="btn btn-primary tagDel" type="button" ng-click="deleteTag($index)">X</button><br>
                    </div><br>

                      <input type="checkbox" name="isPublic" ng-model="privacy"
                    ng-true-value="'true'" ng-false-value="'false'" ></input>
                    <label>Public to all  </label> <br>

                    <button class="btn btn-primary" type="submit">Create</button>
                    <button class="btn btn-primary" type="reset">Reset</button>
                </form>
                <!-- Create Group Form end-->

            </fieldset>
        </div>
    </div>
    <!-- Middle Column end-->

</section>