<section>
      <div class="leftcolumn">
        <div class="profile">
            <img ALT="Münevver Calayır" title="Münevver Calayır" src="images/profile.JPG" />
            <p>Münevver Calayır</p>
            <a href="" ng-click="goEditProfile()">Edit Profile</a>
        </div>
        <ul>
            <li>
                <a href="" ng-click="goMyProfile()">
                    <img src="images/profile.png" />
                    <p>My Profile</p>
                </a>
            </li>
            <li>
                <a href="" ng-click="goMyEvents()">
                    <img src="images/event.png" />
                    <p>Events</p>
                </a>
            </li>
                  <li>
                      <a href="" ng-click="goMyGroups()">
                          <img src="images/group.png" />
                          <p>Groups</p>
                      </a>
                  </li>
                  <li>
                      <a href="" ng-click="goMyFriends()">
                          <img src="images/group.png" />
                          <p>Friends</p>
                      </a>
                  </li>
        </ul>
    </div>
    <div class="menu">
        <ul>
            <li>
                <a href="" ng-click="goHome()">Home</a>
            </li>
            <li>
                <a href="" ng-click="goCreateEvent()">Create Event</a>
            </li>
            <li>
                <a href="" ng-click="goCreateGroup()">Create Group</a>
            </li>
        </ul>
    </div>

    <div class="midcolumn">
        <div class="my-events">
            <fieldset>
                <div class="eventMenu">
                    <ul>
                        <li>
                            <a href="eventsInvited.html">Events You're Invited</a>
                        </li>
                        <li class="active">
                            <a href="eventsCreated.html">Events Created</a>
                        </li>
                        <li>
                            <a href="myEvents.html">All Events</a>
                        </li>
                    </ul>
                </div>
                <legend>Your Events</legend>
                <div class="myEventList">
                    <div class="eventOwner">
                        <img src="images/suzan.JPG" />
                    </div>
                    <div class="eventOwnerName">Suzan Üsküdarlı</div>
                    <div class="eventLink nextLine">has created an event:</div>
                    <div class="eventName">Breakfast</div>
                    <div class="eventLink">on</div>
                    <div class="eventDate">April 29th</div>
                    <div class="eventLink">at</div>
                    <div class="eventTime">9.00 - 11.00 </div>
                    <div class="eventLink">at</div>
                    <div class="eventPlace">Etiler Mado</div>
                    <div class="eventNumber">3</div>
                </div>
                <div class="myEventList">
                    <div class="eventOwner">
                        <img src="images/profile.JPG" />
                    </div>
                    <div class="eventOwnerName">Münevver Calayır</div>
                    <div class="eventLink nextLine">has created an event:</div>
                    <div class="eventName">Bike Trip</div>
                    <div class="eventLink">on</div>
                    <div class="eventDate">May 29th</div>
                    <div class="eventLink">at</div>
                    <div class="eventTime">11.00 - 18.00 </div>
                    <div class="eventLink">at</div>
                    <div class="eventPlace">Büyükada</div>
                    <div class="eventNumber">17</div>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="rightcolumn">
        <div class="notification">
            <p class="title">NOTIFICATIONS</p>
            <div class="notice">
                <img src="images/2.jpg" />
                <p class="not-title">Sara</p>
                <p class="not-detail"> joined the group "Math funs".</p>
            </div>
            <div class="notice">
                <img src="images/3.jpg" />
                <p class="not-title">Ali</p>
                <p class="not-detail"> joined the group "Math funs".</p>
            </div>
            <div class="notice">
                <img src="images/suzan.jpg" />
                <p class="not-title">Suzan </p>
                <p class="not-detail"> joined the group "Math funs".</p>
            </div>
        </div>
        <div class="suggested-groups">
            <p class="title">SUGGESTED GROUPS</p>
            <div class="notice">
                <img src="images/1.jpg" />
                <p class="not-title">Ali</p>
                <p class="not-detail"> joined the group "Math funs".</p>
            </div>
            <div class="notice">
                <img src="images/suzan.jpg" />
                <p class="not-title">Suzan Üsküdarlı</p>
                <p class="not-detail"> joined the group "Math funs".</p>
            </div>
        </div>

    </div>
</section>