<section>
    
    <!-- Top Middle Menu start-->
    <div class="menu">
        <ul>
            <li>
                <a href="" ng-click="goToPage('/home')">Home</a>
            </li>
            <li>
                <a href="" ng-click="goToPage('/createEvent')">Create Event</a>
            </li>
            <li>
                <a href="" ng-click="goToPage('/createGroup')">Create Group</a>
            </li>
        </ul>
    </div>
    <!-- Top Middle Menu end-->

    <!-- Middle Column start-->
    <div class="midcolumn">
        <div class="my-groups">
            <fieldset>

                <!-- Group List option tab start-->
                <div class="groupMenu">
                    <ul>
                       <li>
                            <a href="" ng-click="goToPage('/suggestedGroups')">Suggested Groups</a>
                        </li>
                        <li class="active">
                            <a href="" ng-click="goToPage('/friendsGroups')">Friends' Groups</a>
                        </li>
                        <li >
                            <a href="" ng-click="goToPage('/newGroups')">New Groups</a>
                        </li>
                        <li>
                            <a href="" ng-click="goToPage('/myGroups')">My Groups</a>
                        </li>
                    </ul>
                </div>
                <!-- Group List option tab end-->

                <legend>Friends' Groups</legend>

                <!-- Group List start-->
                 <div class="myGroupList" ng-repeat="group in friendsGroups">
                    <a href="" ng-click="goToPage('/theGroup')">
                        <div class="groupName">{{group.name}}</div>
                    </a>
                    <div class="whoIsIn">
                        <div class="groupFriends" ng-repeat="friend in group.friendList | limitTo: 3">
                            <a href="#">{{friend.name}}</a>
                            <span>,</span>
                        </div> 
                        <div class="groupFriends">and 
                            <a class="otherFriends" href="" ng-show="group.friendList.count>3">
                                {{group.friendList.count-3}} others
                                <div class="others" ng-repeat="friend in group.friendList"> 
                                    {{friend.name}} <br />
                                </div>
                            </a> 
                            in this group.
                        </div>
                    </div>
                </div>
            </div>

            <!-- No group alert start-->
            <div border="0" width="380" id="myexample" style="border:3px solid gray; border-radius:5px; padding:5px;" class="noEvent" ng-show="friendsGroups">
                Sorry, no related events have been found.
            </div>
            <!-- No event alert end-->

      
            <!-- No event fancy border javascript code start-->
            <script language="JavaScript1.2">
                var speed=500
                function flashit(){
                var crosstable=document.getElementById? document.getElementById("myexample") : document.all? document.all.myexample : ""
                if (crosstable){
                if (crosstable.style.borderColor.indexOf("gray")!=-1)
                crosstable.style.borderColor="#008FD5"
                else
                crosstable.style.borderColor="gray"
                }
                }
                setInterval("flashit()", speed)
            </script> 
            <!-- No group fancy border javascript code end-->

        </fieldset>
    </div>
    <!-- Middle Column end-->

</section>
