<section>

  <!-- Top Middle Menu start-->
  <div class="menu">
  	<ul>
  		<li class="active">
  			<a href="" ng-click="goToPage('/home')">Home</a>
  		</li>
  		<li>
  			<a href="" ng-click="goToPage('/createEvent')">Create Event</a>
  		</li>
      <li>
        <a href="" ng-click="goToPage('/createGroup')">Create Group</a>
      </li>
  	</ul>
  </div>
  <!-- Top Middle Menu end-->

  <!-- Middle Column start-->
  <div class="midcolumn">

    <!-- News Feed start-->
  	<div class="news-feed">
  		<div class="news" ng-repeat="newFeed in newsFeed">
        <img src="images/1.jpg" />
  			<p class="news-title">{{newFeed.name}}</p>
  			<p class="news-detail"> joined the group {{newFeed.detail}}</p>
  		</div>
  	</div>
    <!-- News Feed end-->

  </div>
  <!-- Middle Column start-->

</section>
