<section style="width:1070px !important; float: left !important; margin-left: -40px;">
    <!--p>The ID is {{greeting.id}}</p>
    <p>The content is {{greeting.content}}</p-->

    <!-- Left Column - Cmpe Logo and Login with Facebook part start-->
    <div class="intro">
        <img src="images/cmpelogo.png" />
        <a href="#">
            <img id="fbconnect" alt="Connect Facebook" title="Connect Facebook" src="images/facebook-connect-button.png">
        </a>
    </div>
    <!-- Left Column - Cmpe Logo and Login with Facebook part end-->

    <!-- Signup Form start-->
    <div class="signup">
        <fieldset>
            <legend>Sign Up</legend>

            <form ng-submit="signUp()">
                <p>
                    <label for="name">First Name:</label>
                    <input type="text" ng-model="firstName"/>
                </p>
                <p>
                    <label for="surname">Last Name:</label>
                    <input type="text" ng-model="lastName"/>
                </p>
                 <p>
                    <label for="surname">Role:</label>
                    <select style="height:24px !important; width:210px !important;" name="role" ng-model="role">
                        <option ng-repeat="item in roleSet">{{item}}</option>
                    </select>
                </p>
                <p>
                    <label for="username">Email:</label>
                    <input type="text" ng-model="email"/>
                </p>
                <p>
                    <label for="username">Retype Email:</label>
                    <input type="text" ng-model="reEmail"/>
                </p>
                <p>
                    <label for="password">Password:</label>
                    <input type="password" ng-model="sigUpPassword"/>
                </p>
                <p>
                    <label for="re-password">Re-password:</label>
                    <input type="password" ng-model="rePassword"/>
                </p>
                <p>
                    <span>By clicking Sign Up, you agree to our <a href="#">Terms</a> and that you have read our <a href="#">Data Policy</a>.</span>
                </p>
                <p>
                    <button class="btn btn-primary" style="padding: 1px 12px;" type="submit">Sign Up</button>
                </p>
            </form>


            <!-- Message Box Fade in and fade out javascript code start-->
            <script>
                $(function(){
                 setTimeout(function() {
                        $(".content1").addClass("fadeOutLeft");
                  },3000);
                });
            </script>
            <!-- Message Box Fade in and fade out javascript code end-->

            <!-- Message Box Code start-->
            <div class="footer1">
                <div ng-class="{content1: ok, animated3:ok, fadeInLeft:ok, animated:ok}" class="message signMessage"  ng-repeat="message in messages">
                    {{message.note}}
                </div>
            </div>
            <!-- Message Box Code end-->
        </fieldset>
    </div>
    <!-- Signup Form end-->


</section>