<section>
    
    <!-- Top Middle Menu start-->
    <div class="menu">
        <ul>
            <li >
                <a href="" ng-click="goToPage('/home')">Home</a>
            </li>
            <li>
                <a href="" ng-click="goToPage('/createEvent')">Create Event</a>
            </li>
            <li>
                <a href="" ng-click="goToPage('/createGroup')">Create Group</a>
            </li>
        </ul>
    </div>
    <!-- Top Middle Menu end-->

    <!-- Middle Column start-->
    <div class="midcolumn">
        <div class="my-events">
            <fieldset>

                <!-- Event List option tab start-->
                <div class="eventMenu">
                    <ul>
                        <li>
                            <a href="" ng-click="goToPage('/suggestedEvents')">Suggested Events</a>
                        </li>
                        <li>
                            <a href="" ng-click="goToPage('/eventInvitation')">Invitation</a>
                        </li>
                        <li>
                            <a href="" ng-click="goToPage('/newEvents')">New Events</a>
                        </li>
                        <li class="active">
                            <a href="" ng-click="goToPage('/myEvents')">My Events</a>
                        </li>
                    </ul>
                </div>
                <!-- Event List option tab end-->

                <legend style="width:98%;">My Events</legend>

                <!-- Event List start-->
                <div class="myEventList" ng-repeat="event in myEvents">
                    <div class="eventName">{{event.name}}</div>
                    <div class="eventNumber">{{event.count}}</div>
                    <div align="right">
                        <div class="iconDelUp delete" ng-click=""></div>
                        <p class="division">|</p>
                        <div class="iconDelUp update" ng-click="goToPage('/updateEvent')"></div>
                    </div>
                </div>
                <!-- Event List end-->

                <!-- No event alert start-->
                <div border="0" width="380" id="myexample" style="border:3px solid gray; border-radius:5px; padding:5px;" class="noEvent" ng-hide="myEvents.length > 0">
                    Sorry, no related events have been found.
                </div>
                <!-- No event alert end-->

                <!-- No event fancy border javascript code start-->
                <script language="JavaScript1.2">
                    var speed=500
                    function flashit(){
                    var crosstable=document.getElementById? document.getElementById("myexample") : document.all? document.all.myexample : ""
                    if (crosstable){
                    if (crosstable.style.borderColor.indexOf("gray")!=-1)
                    crosstable.style.borderColor="#008FD5"
                    else
                    crosstable.style.borderColor="gray"
                    }
                    }
                    setInterval("flashit()", speed)
                </script> 
                <!-- No event fancy border javascript code end-->


            </fieldset>
        </div>
    </div>
    <!-- Middle Column end-->

</section>