<section>

  <!-- Top Middle Menu start-->
	<div class="menu">
		<ul>
     		<li class="active">
            <a href="" ng-click="goToPage('/home')">Home</a>
        </li>
        <li>
            <a href="" ng-click="goToPage('/createEvent')">Create Event</a>
        </li>
        <li >
            <a href="" ng-click="goToPage('/createGroup')">Create Group</a>
        </li>
		</ul>
	</div>
  <!-- Top Middle Menu end-->

  <!-- Middle Column start-->
	<div class="midcolumn">
		<div class="group-creation">
			<legend>Your Friends</legend>
            <!-- Friend List start-->
            <div class="myEventList" ng-repeat="friend in myFriends">
                <div class="friendName">{{friend.friend.userBasicInfo.firstName + " " + friend.friend.userBasicInfo.lastName + " " + friend.friend.userEmail}}</div>
            </div>
            <!-- Friend List end-->

            <legend>Pending Requests</legend>
            <!-- Pending requests start-->
            <div class="myEventList" ng-repeat="requests in pendingRequests">
                <div class="friendName">{{requests.friend.userBasicInfo.firstName + " " + requests.friend.userBasicInfo.lastName + " " + requests.friend.userEmail}}</div>
            </div>
            <!-- Pending requests end-->

            <!-- No Friend Alert start-->
            <div class="noEvent" ng-show="eventsInvited == 'empty'">
                Sorry, no related friends have been found.
            </div>
            <!-- No Friend Alert start-->

		</div>
	</div>
	<!-- Middle Column end-->

</section>