<section>
      <div class="leftcolumn">
        <div class="profile">
            <img ALT="Münevver Calayır" title="Münevver Calayır" src="images/profile.JPG" />
            <p>Münevver Calayır</p>
            <a href="" ng-click="goEditProfile()">Edit Profile</a>
        </div>
        <ul>
            <li>
                <a href="" ng-click="goMyProfile()">
                    <img src="images/profile.png" />
                    <p>My Profile</p>
                </a>
            </li>
            <li>
                <a href="" ng-click="goMyEvents()">
                    <img src="images/event.png" />
                    <p>Events</p>
                </a>
            </li>
                  <li>
                      <a href="" ng-click="goMyGroups()">
                          <img src="images/group.png" />
                          <p>Groups</p>
                      </a>
                  </li>
                  <li>
                      <a href="" ng-click="goMyFriends()">
                          <img src="images/group.png" />
                          <p>Friends</p>
                      </a>
                  </li>
        </ul>
    </div>
    <div class="menu">
        <ul>
            <li class="active">
                <a href="" ng-click="goHome()">Home</a>
            </li>
            <li>
                <a href="" ng-click="goCreateEvent()">Create Event</a>
            </li>
            <li>
                <a href="" ng-click="goCreateGroup()">Create Group</a>
            </li>
        </ul>
    </div>

    <div class="midcolumn">
        <div class="my-groups">
            <fieldset>
                <div class="groupMenu">
                    <ul>
                        <li>
                            <a href="suggestedGroups.html">Suggested Groups</a>
                        </li>
                        <li>
                            <a href="friendsGroups.html">Friends' Groups</a>
                        </li>
                        <li>
                            <a href="newGroups.html">New Groups</a>
                        </li>
                        <li class="active">
                            <a href="myGroups.html">My Groups</a>
                        </li>
                    </ul>
                </div>
                <legend>Groups You're In</legend>
                <div class="myGroupList">
                    <div class="groupIcon">
                        <img src="images/group3.png" />
                    </div>
                    <div class="groupName">Boun Gurme</div>
                    <div class="groupNumber">20+</div>
                </div>
                <div class="myGroupList">
                    <div class="groupIcon">
                        <img src="images/pi-icon.png" />
                    </div>
                    <div class="groupName">Math</div>
                    <div class="groupNumber">20+</div>
                </div>
                <div class="myGroupList">
                    <div class="groupIcon">
                        <img src="images/group2.png" />
                    </div>
                    <div class="groupName">Botanic</div>
                    <div class="groupNumber">11</div>
                </div>
                <div class="myGroupList">
                    <div class="groupIcon">
                        <img src="images/group3.png" />
                    </div>
                    <div class="groupName">Boun Gurme</div>
                    <div class="groupNumber">17</div>
                </div>
                <div class="myGroupList">
                    <div class="groupIcon">
                        <img src="images/group5.png" />
                    </div>
                    <div class="groupName">Trippers</div>
                    <div class="groupNumber">20+</div>
                </div>
                <div class="myGroupList">
                    <div class="groupIcon">
                        <img src="images/group1.png" />
                    </div>
                    <div class="groupName">C++</div>
                    <div class="groupNumber">4</div>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="rightcolumn">
        <div class="notification">
            <p class="title">NOTIFICATIONS</p>
            <div class="notice">
                <img src="images/2.jpg" />
                <p class="not-title">Sara</p>
                <p class="not-detail"> joined the group "Math funs".</p>
            </div>
            <div class="notice">
                <img src="images/3.jpg" />
                <p class="not-title">Ali</p>
                <p class="not-detail"> joined the group "Math funs".</p>
            </div>
            <div class="notice">
                <img src="images/suzan.jpg" />
                <p class="not-title">Suzan </p>
                <p class="not-detail"> joined the group "Math funs".</p>
            </div>
        </div>
        <div class="suggested-groups">
            <p class="title">SUGGESTED GROUPS</p>
            <div class="notice">
                <img src="images/1.jpg" />
                <p class="not-title">Ali</p>
                <p class="not-detail"> joined the group "Math funs".</p>
            </div>
            <div class="notice">
                <img src="images/suzan.jpg" />
                <p class="not-title">Suzan Üsküdarlı</p>
                <p class="not-detail"> joined the group "Math funs".</p>
            </div>
        </div>

    </div>
</section>