<section>

    <!-- Top Middle Menu start-->
    <div class="menu">
        <ul>
            <li>
                <a href="" ng-click="goToPage('/home')">Home</a>
            </li>
            <li>
                <a href="" ng-click="goToPage('/createEvent')">Create Event</a>
            </li>
            <li>
                <a href="" ng-click="goToPage('/createGroup')">Create Group</a>
            </li>
        </ul>
    </div>
    <!-- Top Middle Menu end-->

    <!-- Middle Column start-->
    <div class="midcolumn">
        <div class="my-groups">
            <fieldset>

                <!-- Group List option tab start-->
                <div class="groupMenu">
                    <ul>
                        <li>
                            <a href="" ng-click="goToPage('/suggestedGroups')">Suggested Groups</a>
                        </li>
                        <li>
                            <a href="" ng-click="goToPage('/friendsGroups')">Friends' Groups</a>
                        </li>
                        <li class="active">
                            <a href="" ng-click="goToPage('/newGroups')">New Groups</a>
                        </li>
                        <li>
                            <a href="" ng-click="goToPage('/myGroups')">My Groups</a>
                        </li>
                    </ul>
                </div>
                <!-- Group List option tab end-->

                <legend>New Groups</legend>

                <!-- Group List start-->
                <div class="myGroupList"  ng-repeat="group in newGroups">
                    <a href="" ng-click="goToPage('/theGroup')"><div class="groupName">{{group.name}}</div></a>
                    <div class="groupNumber">{{group.count}}</div>
                </div>
                <!-- Group List end-->

            </div>
        </fieldset>
    </div>
    <!-- Middle Column end-->

</section>
