<section>
  <!-- Top Menu Start-->
  <div class="menu">
    <ul>
      <li>
        <a href="" ng-click="goToPage('/home')">Home</a>
      </li>
      <li>
        <a href="" ng-click="goToPage('/createEvent')">Create Event</a>
      </li>
      <li>
        <a href="" ng-click="goToPage('/createGroup')">Create Group</a>
      </li>
    </ul>
  </div>
  <!-- Top Menu End-->

  <!-- MidColumn Start-->
  <div class="midcolumn">
    <div class="group-creation profileEditForm">

      <!-- Edit Profile Form Start-->
      <fieldset>
        <legend>Edit profile</legend>
        
        <!-- Message Box Fade in and fade out javascript code start-->
        <script>
            $(function(){
             setTimeout(function() {
                    $(".content1").addClass("fadeOutLeft"); 
              },3000);
            });
        </script>
        <!-- Message Box Fade in and fade out javascript code end-->

        <!-- Message Box Code start-->
        <div class="footer1">
            <div ng-class="{content1: ok, animated3:ok, fadeInLeft:ok, animated:ok}" class="message"  ng-repeat="message in messages">
                {{message.note}}
            </div>
        </div>
            <!-- Message Box Code end-->

        <form ng-submit="profileEdit()">

        <label > First name: </label>
        <input type="text" name="name" size="30" ng-model="firstName" required> </input> <br><br>

        <label>Last name: </label>
        <input type="text" name="lastName" size="30" ng-model="lastName" required> </input><br><br>

        <label>Email:  </label>
        <input type="email" name="email" size="30" ng-model="email" required> </input><br><br>

        <label>Password:  </label>
        <input type="password" name="password" size="30" ng-model="password" required> </input><br><br>
        <label>Photo</label>

        <!-- Lightbox button code end-->
        <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">
          Upload Photo
        </a><br><br>
        <div id="light" class="white_content">
          <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">
            <div class="closeLightbox">X</div>
          </a>

          <!--Inside lightbox start-->
          <div class="group-creation">
            <fieldset id="addPhoto">
              <legend>Upload photo</legend>
              <input type="file" id="photo" name="photo" accept="image/*"> <br>
              <input type="button" ng-click="add()" name="add" value="add">
              <p>{{data}}</p>
              <!-- <a href="" ng-click="goToPage('/profileEdit')"><--Back</a> -->
            </fieldset>
          </div>
          <!--Inside lightbox end-->

        </div>
        <div id="fade" class="black_overlay"></div>
        <!-- Lightbox button code end-->

        <label>GSM:  </label>
        <input type="text" name="gsm" size="30" ng-model="Gsm"> </input><br><br>

        <label>Address  </label>
        <input type="text" name="address" size="50" ng-model="address"> </input><br><br>

        <label>Birthdate: </label>
        <div id="Bdate" class="input-append date">
            <input type="text" ng-model="birthdate"></input>
            <span class="add-on">
                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </span>
        </div><br>

        <script type="text/javascript">
            $('#Bdate').datetimepicker({
               pickTime : false
            });
        </script>

        <label>About me:  </label>
        <textarea name="about" rows="6" cols="50" ng-model="about"></textarea><br><br>


        <label >Interests:  </label>
        <input type="text" name="tag" size="50" ng-model="interests"> </input><br><br>

        <label >Gender:  </label>
        <select name="gender" ng-model="gender">
          <option ng-repeat="item in genderOption">{{item}}</option>
        </select> <br><br>
        <p>You have selected {{gender}}</p>

        <label >Languages:  </label>
        <select name="language" ng-model="languages" multiple>
          <option ng-repeat="item in selectedLanguage">{{item}}</option>
        </select> <br><br>
        <p>You have selected: {{languages}}</p>


        <button type="submit">Submit</button>
        <button type="reset">Reset</button>

        </form>

      </fieldset>
      <!-- Edit Profile Form End-->

    </div>
    <!-- MidColumn End-->
  </div>
</section>