<section>

	<!-- Top Middle Menu start-->
	<div class="menu">
		<ul>
			<li>
				<a href="home.html">Home</a>
			</li>
			<li>
				<a href="createEvent.html">Create Event</a>
			</li>
			<li>
				<a href="CreateGroup.html">Create Group</a>
			</li>
		</ul>
	</div>
	<!-- Top Middle Menu end-->

	<!-- Middle Column start-->
	<div class="midcolumn">
		<div class="group-creation">

			<!-- Search Result List start-->
			<legend>Search Results</legend>

			<div class="searchTitle">People</div>
			<ul>
				<li ng-repeat="result in resultSet">
					{{result.title}} {{result.desc}}
				</li>
			</ul>

		    <div class="clearBoth"></div>
		    <div class="line"></div>

			<div class="searchTitle">Groups</div>
			<ul>
				<li ng-repeat="result in resultSet">
					{{result.title}} {{result.desc}}
				</li>
			</ul>

		    <div class="clearBoth"></div>
		    <div class="line"></div>

			<div class="searchTitle">Events</div>
			<ul>
				<li ng-repeat="result in resultSet">
					{{result.title}} {{result.desc}}
				</li>
			</ul>

			<!-- Search Result List end-->

			<br />
		</div>
	</div>
	<!-- Middle Column start-->

</section>