<section>

	<!-- Top Middle Menu start-->
	<div class="menu">
		<ul>
			<li>
                <a href="" ng-click="goToPage('/home')">Home</a>
            </li>
            <li>
                <a href="" ng-click="goToPage('/createEvent')">Create Event</a>
            </li>
            <li>
                <a href="" ng-click="goToPage('/createGroup')">Create Group</a>
            </li>
		</ul>
	</div>
	<!-- Top Middle Menu end-->

	<!-- Middle Column start-->
	<div class="midcolumn">
		<div class="group-creation searchList">

			<!-- Search Result List start-->
			<legend>Search Results</legend>

			<div class="searchTitle">People</div>
			<ul>
				<li ng-repeat="user in resultSet.users">
					<a href="" ng-click="goToPage('/theUser')">{{user.userBasicInfo.firstName}} {{user.userBasicInfo.lastName}} {{user.userEmail}}</a>
				</li>
			</ul>

		    <div class="clearBoth"></div>
		    <div class="line"></div>

			<div class="searchTitle">Groups</div>
			<ul>
				<li ng-repeat="group in resultSet.groups">
					<a href="" ng-click="goToPage('/theGroup')">{{group.title}} {{group.description}}</a>
				</li>
			</ul>

		    <div class="clearBoth"></div>
		    <div class="line"></div>

			<div class="searchTitle">Events</div>
			<ul>
				<li ng-repeat="event in resultSet.events">
					<a href="" ng-click="goToPage('/theEvent')">{{result.title}} {{result.desc}}</a>
				</li>
			</ul>

			<!-- Search Result List end-->

			<br />
		</div>
	</div>
	<!-- Middle Column start-->

</section>