<section>

	<!-- Top Middle Menu start-->
	<div class="menu">
		<ul>
			<li>
                <a href="" ng-click="goToPage('/home')">Home</a>
            </li>
            <li>
                <a href="" ng-click="goToPage('/createEvent')">Create Event</a>
            </li>
            <li>
                <a href="" ng-click="goToPage('/createGroup')">Create Group</a>
            </li>
		</ul>
	</div>
	<!-- Top Middle Menu end-->

	<!-- Middle Column start-->
	<div class="midcolumn">
		<div class="group-creation searchList">

			<!-- Search Result List start-->
        	<div class="angSearch">
        		<div id="search-button1">
	                <angucomplete id="searchField"
	                    placeholder="Search tag"
	                    pause="100"
	                    selectedobject="searchTag"
	                    url="searchContextUrl"
	                    searchfields="description"
	                    titlefield="label,description,aliases"
	                    inputclass="searchInput"
	                    matchclass="highlight" />
	            </div>
            	<button class="btn btn-primary searchInside" ng-click="searchByTag()">Search</button>
            </div>
			<!-- Search Result List start-->

			<legend>Search Results</legend>

			<div class="searchTitle" ng-show="resultSet.users.length > 0">People</div>
			<ul>
				<li ng-repeat="user in resultSet.users">
					<a href="" ng-click="goToPage('/theUser/' + user.userId)">{{user.userBasicInfo.firstName}} {{user.userBasicInfo.lastName}} {{user.userEmail}}</a>
				</li>
			</ul>

		    <div class="clearBoth"></div>
		    <div class="line"></div>

			<div class="searchTitle" ng-show="resultSet.users.length > 0">Groups</div>
			<ul>
				<li ng-repeat="group in resultSet.groups">
					<a href="" ng-click="goToPage('/theGroup/' + group.actionId)">{{group.title}} {{group.description}}</a>
				</li>
			</ul>

		    <div class="clearBoth"></div>
		    <div class="line" ng-show="resultSet.events"></div>

			<div class="searchTitle" ng-show="resultSet.users.length > 0">Events</div>
			<ul>
				<li ng-repeat="event in resultSet.events">
					<a href="" ng-click="goToPage('/theEvent/' + event.actionId)">{{event.title}} {{event.description}}</a>
				</li>
			</ul>

			<!-- Search Result List end-->

			<br />
		</div>
	</div>
	<!-- Middle Column start-->

</section>