<section>
      <div class="leftcolumn">
      	<div class="profile">
      		<img ALT="Münevver Calayır" title="Münevver Calayır" src="images/profile.jpg" />
      		<p>Münevver Calayır</p>
      		<a href="" ng-click="goToPage('/profileEdit')">Edit Profile</a>
      	</div>
      	<ul>
      		<li>
      			<a href="" ng-click="goToPage('/myProfile')">
      				<img src="images/profile.png" />
      				<p>My Profile</p>
      			</a>
      		</li>
      		<li>
      			<a href="" ng-click="goToPage('/myEvents')">
      				<img src="images/event.png" />
      				<p>Events</p>
      			</a>
      		</li>
                  <li>
                      <a href="" ng-click="goToPage('/myGroups')">
                          <img src="images/group.png" />
                          <p>Groups</p>
                      </a>
                  </li>
                  <li>
                      <a href="" ng-click="goToPage('/myFriends')">
                          <img src="images/friends.png" />
                          <p>Friends</p>
                      </a>
                  </li>
      	</ul>
      </div>
      <div class="groupTitle">
          <span>PASTA</span>
      </div>     	
      <div class="midcolumn">
        <div class="postDetay">
          <img src="images/groupGourmet.jpg" />
          <span>This group is created for sharing info, experiences, receipt, advices, etc. for Gourmets.This group is created for sharing info, experiences, receipt, advices, etc. for Gourmets.This group is created for sharing info, experiences, receipt, advices, etc. for Gourmets.This group is created for sharing info, experiences, receipt, advices, etc. for Gourmets.This group is created for sharing info, experiences, receipt, advices, etc. for Gourmets.This group is created for sharing info, experiences, receipt, advices, etc. for Gourmets. </span>
        </div>
        <div class="groupMember">
          <span>Group Members</span>
          <table>
            <tr>
              <td><img src="images/suzan.jpg" /></td>
              <td><img src="images/1.jpg" /></td>
              <td><img src="images/2.jpg" /></td>
            </tr>
            <tr>
              <td><img src="images/3.jpg" /></td>
              <td><img src="images/profile.JPG" /></td>
              <td><img src="images/suzan.jpg" /></td>
            </tr>
            <tr>
              <td><img src="images/1.jpg" /></td>
              <td><img src="images/2.jpg" /></td>
              <td><img src="images/3.jpg" /></td>
            </tr>
            <tr>
              <td colspan="3"><a href="">More</a></td>
            </tr>
          </table>
        </div>
        <div class="clearBoth"></div>
        <div class="line"></div>

        <div class="posts">
          <span>Posts</span>
          <table>
            <tr>
              <td>
                <a href="">
                  <img src="images/y1.jpg" />
                  <span>Pasta</span>
                  <p>Recipe, where to eat, which city's food, etc.</p>
                </a>
              </td>
              <td>
                <a href="">
                  <img src="images/y2.jpg" />
                  <span>Pide</span>
                  <p>Recipe, where to eat, which city's food, etc.</p>
                </a>
              </td>
              <td>
                <a href="">
                  <img src="images/y3.jpg" />
                  <span>Baklava</span>
                  <p>Recipe, where to eat, which city's food, etc.</p>
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="">
                  <img src="images/y4.jpg" />
                  <span>Sushi</span>
                  <p>Recipe, where to eat, which city's food, etc.</p>
                </a>
              </td>
              <td>
                <a href="">
                  <img src="images/kebap.jpg" />
                  <span>Kebab</span>
                  <p>Recipe, where to eat, which city's food, etc.</p>
                </a>
              </td>
              <td>
                <a href="">
                  <img src="images/y6.jpg" />
                  <span>Mexican Food</span>
                  <p>Recipe, where to eat, which city's food, etc.</p>
                </a>
              </td>
            </tr>
          </table>
        </div>

        <div class="clearBoth"></div>
        <div class="line"></div>
        <div class="commentPosted">
          <span>Comments</span>
          <table>
            <tr>
              <td><img src="images/1.jpg" /></td></td>
              <td><span>Ali Dostoglu</span></td></td>
            </tr>
            <tr>
              <td colspan="2"><p>Bir restoran var nispetiye caddesi no:3 kaşıkkapı isminde orada künefe bir harika dostlar! Gidin yiyin derim!</p></td>
            </tr>
          </table>
         <div class="addCustomType">
            <table style="border: none !important;">
              <tr>
                <td>Comment: </td>
              </tr>
              <tr>
                <td><textarea name="comment" ng-model="comment"></textarea>
              </tr>
              <tr>
                <td><button class="btn btn-primary" style="padding: 1px 12px;" type="submit">Comment</button></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="clearBoth"></div>
      </div>
      <div class="rightcolumn">
      	<div class="notification">
      		<p class="title">NOTIFICATIONS</p>
      		<div class="notice" ng-repeat="notification in notificationList ">
      			
      			<p class="not-title">{{notification.name}}</p>
      			<p class="not-detail"> joined the group {{notification.detail}}</p>
      		</div>
      		
      	</div>
      	<div class="suggested-groups">
      		<p class="title">SUGGESTED GROUPS</p>
      		<div class="notice">
      			<img src="images/1.jpg" />
      			<p class="not-title">Ali</p>
      			<p class="not-detail"> joined the group "Math funs".</p>
      		</div>
      		<div class="notice">
      			<img src="images/suzan.jpg" />
      			<p class="not-title">Suzan Üsküdarlı</p>
      			<p class="not-detail"> joined the group "Math funs".</p>
      		</div>
      	</div>
      </div>
</section>
