<section>
  <div class="groupTitle">
    <span>PASTA</span>

    <!-- Lightbox button code end-->
    <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'"><div class="customType">Add Post</div></a>
    <div id="light" class="white_content">
      <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">
        <div class="closeLightbox">X</div>
      </a>
      <div class="addCustomType">

        <!-- Message Box Fade in and fade out javascript code start-->
        <script>
            $(function(){
             setTimeout(function() {
                    $(".content1").addClass("fadeOutLeft"); 
              },3000);
            });
        </script>
        <!-- Message Box Fade in and fade out javascript code end-->

        <!-- Message Box Code start-->
        <div class="footer1">
            <div ng-class="{content1: ok, animated3:ok, fadeInLeft:ok, animated:ok}" class="message"  ng-repeat="message in messages">
                {{message.note}}
            </div>
        </div>
        <!-- Message Box Code end-->

        
          <table>
            <tr>
              <td>Attribute Type:</td>
              <td><input type="text" name="attributeType" ng-model="attributeType"/></td>
            </tr>
            <tr>
              <td>Attribute Description:</td>
              <td><input type="text" name="attributeDescription" ng-model="attributeDescription"/></td>
            </tr>
            <tr>
              <td colspan="2"><button class="btn btn-primary" style="padding: 1px 12px;" type="submit">Add Attribute</button></td>
            </tr>
          </table>
        </div>
    </div>
    <div id="fade" class="black_overlay"></div>
    <!-- Lightbox button code end-->
  </div> 

  <!-- MidColumn Start--> 	
  <div class="midcolumn">
    
    <!-- Post Detail column Start-->
    <div class="postDetay">
      <div class="postBlock">
        <img src="images/p1.jpg" />
        <div class="whoPosted">
          <img src="images/3.jpg" />
          <div>
            <span>By</span>
            <p>Gülnihal Bağcı</p>
          </div>
        </div>
      </div>
      <div class="postTitle">Fresh Tomato, Sausage, and Pecorino Pasta</div>
      <span>
        <b>Ingredients</b><br/>

        <p>8 ounces uncooked penne, 8 ounces sweet Italian sausage, 2 teaspoons olive oil, 1 cup vertically sliced onion, 2 teaspoons minced garlic, 1 1/4 pounds tomatoes, chopped, 6 tablespoons grated fresh pecorino Romano cheese, divided 1/4 teaspoon salt 1/8 teaspoon black pepper, 1/4 cup torn fresh basil leaves, </p>

        <br/><b>Preparation</b><br/>

        <p>1. Cook pasta according to package directions, omitting salt and fat; drain. 2. Heat a large nonstick skillet over medium-high heat. Remove casings from sausage. Add oil to pan; swirl to coat. Add sausage and onion to pan; cook 4 minutes, stirring to crumble sausage. Add garlic; cook 2 minutes. Stir in tomatoes; cook 2 minutes. Remove from heat; stir in pasta, 2 tablespoons cheese, salt, and pepper. Sprinkle with remaining 1/4 cup cheese and basil.</p>

        <br/><b>Where to Eat?</b><br/>

        <p>Dorry Pasta at İstiklal</p>

        <br/><b>Which city's food?</b><br/>

        <p>Rome</p>
      </span>

      <div class="clearBoth"></div>
      <div class="line1"></div>

      <!--Comment block start-->
      <div class="commentPosted">
        <span>Comments</span>
        <table>
          <tr>
            <td><img src="images/2.jpg" /></td></td>
            <td><span>Ali Dostoglu</span></td></td>
          </tr>
          <tr>
            <td colspan="2"><p>Bir restoran var nispetiye caddesi no:3 kaşıkkapı isminde orada künefe bir harika dostlar! Gidin yiyin derim!</p></td>
          </tr>
        </table>
        <div class="addCustomType">
          <table style="border: none !important;">
            <tr>
              <td>Comment: </td>
            </tr>
            <tr>
              <td><textarea name="comment" ng-model="comment"></textarea></td>
            </tr>
            <tr>
              <td><button class="btn btn-primary" style="padding: 1px 12px;" type="submit">Comment</button></td>
            </tr>
          </table>
        </div>
      </div>
      <!--Comment block end-->

      <div class="clearBoth"></div>
      <div class="line"></div>

    </div>
    <!-- Post Detail column End-->

    <div class="clearBoth"></div>
  </div>
</section>
