<section>
  <div class="groupTitle">
    <div class="userAvatar">
      <img src="images/anonymous.jpg" />
      <span>{{otherUserData.userBasicInfo.firstName + " " + otherUserData.userBasicInfo.lastName}}</span>

      <button class="btn btn-primary addFriend" style="width: 150px; float: right; margin: 110px 0px 0px;" type="button" ng-click="invite()">
        <img src="images/addFriend.png" />
        <p>Add Friend</p>
      </button>
    </div>
  </div>

  <!-- MidColumn Start-->
  <div class="midcolumn">

    <!-- User Detail part starts -->
    <div class="userDetail">
      <table>
        <tr>
          <td>First name:</td>
          <td>{{otherUserData.userBasicInfo.firstName}}</td>
        </tr>
        <tr>
          <td>Last name:</td>
          <td>{{otherUserData.userBasicInfo.lastName}}</td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>{{otherUserData.userEmail}}</td>
        </tr>
        <tr>
          <td>GSM:</td>
          <td>{{otherUserData.userCommInfo.mobilePhone}}</td>
        </tr>
        <tr>
          <td>Address:</td>
          <td>{{otherUserData.userCommInfo.address}}</td>
        </tr>
        <tr>
          <td>Birthdate:</td>
          <td>{{otherUserData.userExtraInfo.birthDate}}{{otherUserData.userExtraInfo.birthDate}}</td>
        </tr>
        <tr>
          <td>About:</td>
          <td>{{otherUserData.userExtraInfo.about}}</td>
        </tr>
        <tr>
          <td>Interests:</td>
          <td>{{otherUserData.userExtraInfo.interests}}</td>
        </tr>
        <tr>
          <td>Gender:</td>
          <td>{{otherUserData.userBasicInfo.gender}}</td>
        </tr>
        <tr>
          <td>Languages:</td>
          <td>{{otherUserData.userExtraInfo.languages}}</td>
        </tr>
      </table>
    </div>
    <!-- User Detail part ends -->

    <!-- Message Box Fade in and fade out javascript code start-->
        <script>
            $(function(){
             setTimeout(function() {
                    $(".content1").addClass("fadeOutLeft");
              },3000);
            });
        </script>
        <!-- Message Box Fade in and fade out javascript code end-->

        <!-- Message Box Code start-->
        <div class="footer1">
            <div style="margin: -32% 0 0 10% !important;" ng-class="{content1: ok, animated3:ok, fadeInLeft:ok, animated:ok}" class="message"  ng-repeat="message in messages">
                {{message.note}}
            </div>
        </div>
        <!-- Message Box Code end-->
  </div>
</section>
