<section>
  <div class="groupTitle">
    <div class="userAvatar">
      <img src="images/profile.jpg" />
      <span>Münevver Calayır</span>

      <button class="btn btn-primary addFriend" style="width: 150px; float: right; margin: 110px 0px 0px;" type="button" ng-click="invite()">
        <img src="images/addFriend.png" />
        <p>Add Friend</p>
      </button>
    </div>
  </div> 

  <!-- MidColumn Start--> 	
  <div class="midcolumn">

    <!-- User Detail part starts -->
    <div class="userDetail">
      <table>
        <tr>
          <td>First name:</td>
          <td>Münevver</td>
        </tr>
        <tr>
          <td>Last name:</td>
          <td>Calayır</td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>munevvercalayir@gmail.com</td>
        </tr>
        <tr>
          <td>GSM:</td>
          <td>0533 463 08 02</td>
        </tr>
        <tr>
          <td>Address:</td>
          <td>Atakent Mah. 3. Etap 1. Cadde 506. Ada B-41 D: 30 Halkalı Küçükçekmece İstanbul</td>
        </tr>
        <tr>
          <td>Birthdate:</td>
          <td>30.09.1986</td>
        </tr>
        <tr>
          <td>About:</td>
          <td></td>
        </tr>
        <tr>
          <td>Interests:</td>
          <td>Painting, Riding, Botanic</td>
        </tr>
        <tr>
          <td>Gender:</td>
          <td>Female</td>
        </tr>
        <tr>
          <td>Languages:</td>
          <td>Php, javascript, html, java, C</td>
        </tr>
      </table>
    </div>
    <!-- User Detail part ends -->

    <!-- Message Box Fade in and fade out javascript code start-->
        <script>
            $(function(){
             setTimeout(function() {
                    $(".content1").addClass("fadeOutLeft"); 
              },3000);
            });
        </script>
        <!-- Message Box Fade in and fade out javascript code end-->

        <!-- Message Box Code start-->
        <div class="footer1">
            <div style="margin: -32% 0 0 10% !important;" ng-class="{content1: ok, animated3:ok, fadeInLeft:ok, animated:ok}" class="message"  ng-repeat="message in messages">
                {{message.note}}
            </div>
        </div>
        <!-- Message Box Code end-->
    
  </div>
</section>
