
input{
    height: 25px !important;
}

.logo1{
    width: 490px;
    height: 90px;
}

.logo1 img{
    width:90px;
    height: 90px;
}

header h1{
	margin: 10px 0;
	text-align: center;
}

body {
	margin: 0;
	background-color: #eaeae4;
}

#bounlogo{
	float:left;
	margin-left:20px;
}

section {
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
	float: right;
    height: auto;
    min-height: 630px;
    padding-bottom: 10px;
    width: 100%;
}

.contBg{
    background-color: #fff;
    float: left;
    margin-left: 277px;
    margin-top: 125px;
    top: 0 !important;
    width: 1070px;
}

div.intro{
	float: left;
    padding-left: 140px;
    padding-top: 50px;
    width: 600px;
}

#fbconnect{
	float: left;
    margin-left: 50px;
    margin-top: 110px;
    width: 200px;
}

div.signup {
	float: right;
    margin-right: 10px;
    margin-top: 50px;
    width: 400px;
}

div.signup fieldset legend{
    width:365px;
}

div.signup fieldset form p input{
    height: 24px !important;
}

div.signup p span{
	font-size: 11px;
    padding-right: 40px;
}

div.righttop{
    float: right;
    height: 65px;
    margin-left: 140px;
    margin-top: 25px;
    width: 435px;
}

.userAvatar{
    float: left;
    margin: 0 !important;
    width: 613px;
}

.userAvatar img{
    border: 1px solid #ededed;
    border-radius: 10px;
    float: left;
    height: 150px;
    padding: 5px;
    width: 150px;
}

.userAvatar span{
    margin: 60px 0 0 20px !important;
}

.userDetail{
    float: left;
}

.userDetail table{
    float: left;
    margin-left: 20px;
}

.userDetail table tr{
    border-bottom: 1px solid #ededed;
}

.userDetail table tr td{
    color: #666;
    float: left;
    margin: 10px 0;
    width: 420px;
}

.userDetail table tr td:first-child{
    font-weight: bold;
    width: 200px;
}

.groupTitle button img{
    border: medium none;
    float: left;
    height: 30px;
    width: 30px;
}

.addFriend p{
    float: right;
    font-weight: bold;
    margin: 5px;
}

div.login{
	float: right;
    width: 435px;
	color: #fff;
}

#loginForm{
    float: left;
    width:450px;
}

#loginForm tr{
    float: left;
}

#loginForm tr td{
    float: left;
    width: 135px;
}

#login-button{
	float: left;
    margin: 20px 0 0;
    width: 60px;
}


#loginForm tr td input{
	float: left;
    font-size: 11px;
    height: 16px;
    margin: 0 5px 6px 0 !important;
    padding: 0 !important;
    width: 125px;
}

#loginForm tr td label{
	float: left;
    font-size: 10px;
}

#loginForm tr td a{
	color: #fff;
    float: left;
    font-size: 10px;
    font-weight: bold;
    width: 140px;
}

label {
	display: inline;
	float: left;
	width: 100px;
}

.midcontainer{
    float: left;
    height: auto;
    min-height: 550px;
    width: 670px;
}

.groupTitle{
    border-bottom: 3px solid #0fa4dd !important;
    float: left;
    list-style: outside none none;
    margin-left: 20px;
    padding: 10px;
    text-align: center;
    width: 625px;
}

.groupTitle span{
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin-top: 8px;  
}

.customType{
    background: none repeat scroll 0 0 #12295d;
    border-radius: 10px;
    color: #fff;
    float: right;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
}

.groupDetay{
    float: left;
    margin: 0 15px;
    width: 450px;
}


.groupDetay img{
    border-radius: 10px;
    max-width: 450px;
}

.groupDetay span{
    float: left;
    font-size: 12px;
    margin-top: 15px;
    text-align: justify;
    width: 100%;
}

.postDetay{
    ffloat: left;
    margin: 25px 15px 0;
    width: 625px;
}

.postBlock{
    border-radius: 10px;
    float: left;
    max-width: 120px;
}

.postTitle{
    fcolor: #12295d;
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin: 0 19px;
}
.postDetay .postBlock img{
    border-radius: 10px;
    float: left;
    max-width: 120px;
}

.postDetay .postBlock .whoPosted{
    float: left;
}

.postDetay .postBlock .whoPosted img{
    float: left;
    height: 27px;
    margin: 11px 0;
    width: 27px;
}

.postDetay .postBlock .whoPosted div{
    float: left;
    margin: 9px 4px;
    width: 85px;
}

.postDetay .postBlock .whoPosted div span{
    float: left;
    font-size: 12px;
    margin: 0 4px;
    width: 15px;
}

.postDetay .postBlock .whoPosted div p{
    float: left;
    font-size: 12px;
    width: auto;
}

.postDetay span{
    float: left;
    font-size: 12px;
    margin-left: 20px;
    text-align: justify;
    width: 75%;
}

.closeLightbox{
    border: 2px solid #0fa4dd;
    float: right;
    width: 25px;
    text-align: center;
}

.addCustomType{
    float: left;
}

.addCustomType table{
    float: left;
    width: auto;
}

.addCustomType table tr{
    float: left;
    width: 600px;
}

.addCustomType table tr td{
    color: #12295d;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
    text-align: left;
    width: 150px;
}

.addCustomType table tr td textarea{
    float: left;
    height: 22px;
    width: 625px;
}

.black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
.white_content {
    background-color: white;
    border: 5px solid #0073ac;
    border-radius: 20px;
    display: none;
    height: 41%;
    left: 28%;
    overflow: auto;
    padding: 16px;
    position: absolute;
    top: 25%;
    width: 40%;
    z-index: 1002;
}

.clearBoth{
    width: 100%;
    clear:both;
    margin-top: 20px;
    height: 25px;
}

.addPost{
    background: none repeat scroll 0 0 #12295d;
    border-radius: 10px;
    color: #fff;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin: 5px 15px;
    padding: 10px;
}

.addPostBox{
    float: left;
}

.posts{
    float: left;
    width: 650px;
}

.posts span{
    color: #12295d;
    float: left;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 650px;
}

.posts table{
    float: left;
}

.posts table tr{
    float: left;
    margin-left: 13px;
}

.posts table tr td{
    border-radius: 10px;
    float: left;
    margin: 5px;
    padding: 5px;
    width: 200px;
    border: 1px solid #fff;
}

.posts table tr td:hover{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);

}

.posts table tr td span{
    float: left;
    text-align: center;
    width: 200px;
}

.posts table tr td img{
    border-radius: 10px;
    float: left;
    height: 190px;
    width: 190px;
}

.commentPosted{
    float: left;
    width: 650px;
}

.commentPosted span{
    color: #12295d;
    float: left;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 650px;
}

.commentPosted table{
    border-bottom: 1px solid #12295d;
    float: left;
    width: 625px;
}

.commentPosted table tr{
    float: left;
    width: 625px;
}

.commentPosted table tr td{
    float: left;
    width: auto;
}

.commentPosted table tr td span{
    border: medium none;
    float: left;
    margin: 10px;
    width: 300px;
}

.commentPosted table tr td img{
    border-radius: 5px;
    float: left;
    height: 40px;
    width: 40px;
}

.commentPosted table tr td p{
    float: left;
    font-size: 12px;
    margin: 5px 0;
}

.groupMember{
    float: left;
    width: 171px;
}

.groupMember span{
    color: #12295d;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0;
}

.groupMember table{
    float: left;
    width: 171px;
}

.groupMember table tr{
    float: left;
    width: 171px;
}

.groupMember table tr td{
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-right: 2px;
    width: 51px;
}

.groupMember table tr td img{
    border-radius: 5px;
    float: left;
    height: 51px;
    margin-top: 2px;
    width: 51px;
}
.groupTab{
    border-bottom: 2px solid #12295d;
    float: left;
    margin: 0 15px 15px;
    width: 625px;
}

.groupTab ul{
    float: left;
    margin: 0 !important;
    padding: 0;
}

.groupTab ul li{
    background: none repeat scroll 0 0 #445b8f;
    border: 2px solid #12295d;
    border-radius: 4px;
    color: #fff;
    float: left;
    font-weight: 600;
    list-style: outside none none;
    margin: 0 -1px -2px 0;
    padding: 5px 10px;
    width: auto;
}

.groupTab ul li:hover {
    background: none repeat scroll 0 0 #12295d;
}

.customActive{
    background: none repeat scroll 0 0 #12295d !important;
}

.line {
    border-bottom: 3px solid #12295d;
    margin: 25px 0 0;
    width: 650px;
}

.line1 {
    border-bottom: 2px solid #12295d;
    width: 625px;
}

.groupTab ul li a{
    color: #fff;
    text-decoration: none;
}

#search-button{
	float: left;
    margin: 30px 0 0 128px;
    padding-top: 17px;
    width: 210px;
}
.searchBtn{
    float: left;
    height: 30px !important;
    margin: 45px 0 0 -1px !important;
}

.tagDel{
    float: left;
    font-size: 10px;
    font-weight: bold;
    height: 20px !important;
    margin-left: 10px;
    padding: 0 !important;
    width: 20px !important;
}

.dateBtn{
    height: 25px !important;
    padding-left: 12px !important;
    width: 40px !important;
}
.searchInput{
    font-size: 12px !important;
}

.searchInput{
    height:20px;
}

div.menu{
    float: left;
    height: 70px;
    margin-top: 15px;
    width: 670px;
}

div.menu ul{
	float: left;
	margin:0;
	padding: 0;
}

div.menu ul li{
	border-bottom: 3px solid #12295d;
    float: left;
    list-style: outside none none;
    margin-left: 20px;
    padding: 10px;
    text-align: center;
    width: 195px;
}

div.menu ul li a{
	color:#12295d;
}
div.menu ul li.active{
	border-bottom: 3px solid #0FA4DD !important;
}

div.menu ul li a{
	text-decoration: none;
	font-size: 14px;
}

div.groupMenu{
    float: left;
    height: 70px;
    margin-top: 15px;
    width: 653px;
}

div.groupMenu ul{
    float: left;
    margin:0;
    padding: 0;
}

div.groupMenu ul li{
    border: 2px solid #12295d;
    border-radius: 10px;
    float: left;
    list-style: outside none none;
    margin-left: 10px;
    padding: 10px;
    text-align: center;
    width: 153px;
}

div.groupMenu ul li a{
    color:#12295d;
}
div.groupMenu ul li.active{
    border: 2px solid #0FA4DD !important;
}

div.groupMenu ul li a{
    text-decoration: none;
    font-size: 14px;
}

.groupFriends{
    float: left;
    width: auto;
}

.groupFriends a{
    float: left;
    color:#0fa4dd;
}

.groupFriends span{
    float: left;
    margin: 0 5px 0 5px;
}

.others{
    background-color: #12295d;
    border-radius: 5px;
    color: #fff !important;
    text-decoration: none !important;
    display: none;
    float: right;
    font-size: 11px;
    height: auto;
    margin-right: 101px;
    padding: 7px;
    position: absolute;
    width: 100px;
    z-index: 99999;   
}

.otherFriends{
    float: left;
    width: auto;
    height: 30px;
    color: #0fa4dd;
    text-decoration: underline;
    margin: 0 5px 0 5px;
}
.otherFriends:hover .others{
    display: block !important;
}

.friendsInfo{
    float: right;
    width: auto;
}

div.eventMenu{
    float: left;
    height: 70px;
    margin-top: 15px;
    width: 670px;
}

div.eventMenu ul{
    float: left;
    margin:0;
    padding: 0;
}

div.eventMenu ul li{
    border: 2px solid #12295d;
    border-radius: 10px;
    float: left;
    list-style: outside none none;
    margin-left: 10px;
    padding: 10px;
    text-align: center;
    width: 206px;
}

div.eventMenu ul li a{
    color:#12295d;
}
div.eventMenu ul li.active{
    border: 2px solid #0FA4DD !important;
}

div.eventMenu ul li a{
    text-decoration: none;
    font-size: 14px;
}

div.myGroupList{
    border-bottom: 1px solid #ededed;
    float: left;
    margin: 5px;
    width: 650px;
}

div.groupIcon{
    float: left;
    height: 30px;
    margin: 0 2px;
    width: 30px;
}

div.groupIcon img{
    height: 20px;
    width:20px;
}

div.groupName{
    float: left;
    font: 15px arial;
    margin: 0 5px 0 0;
    width: auto;
    font-weight:bold;
}

div.groupNumber{
    border: 1px solid #ededed;
    border-radius: 5px;
    float: left;
    font-size: 11px;
    margin: 0 5px;
    padding: 3px 7px;
}

div.myEventList{
    float: left;
    width: 100%;
    border-bottom: 1px solid #ededed;
    margin:5px 0;
    padding: 5px 0;

}

div.eventOwner{
    float: left;
    height: 50px;
    margin: 0 10px;
    width: 50px;
}

div.eventOwner img{
    height: 50px;
    width:50px;
    border-radius: 5px;
}

div.eventName{
    float: left;
    font: 15px arial;
    margin: 0 5px 0 0;
    width: auto;
    font-weight: bold;
}

div.eventOwnerName{
    float: left;
    font: 15px arial;
    margin: 0 5px 0 0;
    width: auto;
    font-weight: bold;
}

div.eventNumber{
    border: 1px solid #ededed;
    border-radius: 5px;
    float: left;
    font-size: 11px;
    margin: -5px 5px 0;
    padding: 3px 7px;
}

div.nextLine{
    margin-right: 300px !important;
}

div.eventDate{
    float: left;
    font: 15px arial;
    margin: 0 5px 0 0;
    width: auto;
    font-weight: bold;
}

div.eventTime{
    float: left;
    font: 15px arial;
    margin: 0 5px 0 0;
    width: auto;
    font-weight: bold;
}

div.eventPlace{
    float: left;
    font: 15px arial;
    margin: 0 5px 0 0;
    width: auto;
    font-weight: bold;
}

div.eventLink{
    float: left;
    font: 15px arial;
    margin: 0 5px 0 0;
    width: auto;
}

div.leftcolumn{
    float: left;
    min-height: 600px;
    padding: 15px;
    width: 200px;
}

div.profile{
	width:200px;
	float: left;
}

div.profile img{
	width:50px;
	height: 50px;
	float: left;
	border: 1px solid #999;
	border: 1px solid #ededed;
    border-radius: 3px;
}


div.profile p{
	color: #333;
	font-weight: bold;
    float: left;
    font-size: 12px;
    margin: 7px 0 0 15px;
    padding: 1px;
    width: 120px;
}

div.profile a{
	color: #0FA4DD;
    float: left;
    font-size: 12px;
    margin-left: 15px;
    text-decoration: underline;
}

div.leftcolumn ul{
	float: left;
	margin-top: 15px;
	margin-left: 0px !important;
	padding: 0px !important;
}

div.leftcolumn ul li{
	list-style: outside none none;
}

div.leftcolumn ul li a{
	text-decoration: none;
	color:#333;
	font-size: 12px;
	float: left;
}

div.leftcolumn ul li a p{
	text-decoration: none;
	color:#12295D;
	font-size: 12px;
	float: left;
	font-weight: bold;
	margin-left: 5px;
}

div.leftcolumn ul li a img{
	float: left;
    height: 15px;
    width: 15px;
}

div.midcolumn{
    float: left;
    height: auto;
    padding: 5px;
    width: 670px;
}

div.rightcolumn{
    float: left;
    min-height: 600px;
    padding: 5px;
    width: 200px;
}

div.notification{
	border-bottom: 1px solid #0fa4dd;
    float: left;
    margin: 10px 5px;
    padding-bottom: 5px;
    width: 180px;  
}

div.notification img{
	width: 50px;
	height: 50px;
	float:left;
	border: 1px solid #ededed;
    border-radius: 3px;
}

div.notification p{
	float: left;
    font-size: 10px;
    font-weight: bold;
    text-decoration: underline;
}

div.notice{
	float: left;
	border-bottom: 1px solid #0FA4DD;
	padding: 5px;
}

div.notice img{
	height: 30px;
    margin-right: 10px;
    width: 30px;
    margin-top: 4px;
    border: 1px solid #ededed;
    border-radius: 3px;
}

p.not-title{
	font-weight: bold !important;
    margin: 0 !important;
    padding: 0 !important;
    text-decoration: none !important;
    width: 125px;
}

p.not-detail{
	font-weight: normal !important;
    margin: 0 !important;
    padding: 0 !important;
    text-decoration: none !important;
    width: 125px;
}

div.suggested-groups{
	border-bottom: 1px solid #0fa4dd;
    float: left;
    margin: 10px 5px;
    padding-bottom: 5px;
    width: 180px;
}

div.suggested-groups img{
	width: 50px;
	height: 50px;
	float:left;
	border: 1px solid #ededed;
    border-radius: 3px;
}

div.suggested-groups p{
	float: left;
    font-size: 10px;
    font-weight: bold;
    text-decoration: underline;
}

div.notice{
	float: left;
	border-bottom: 1px solid #ddd;
	padding: 5px;
}


div.notice img{
	height: 30px;
    margin-right: 10px;
    width: 30px;
    margin-top: 4px;
    border: 1px solid #ededed;
    border-radius: 3px;
}

p.not-title{
	font-weight: bold !important;
    margin: 0 !important;
    padding: 0 !important;
    text-decoration: none !important;
    width: 125px;
}

p.not-detail{
	font-weight: normal !important;
    margin: 0 !important;
    padding: 0 !important;
    text-decoration: none !important;
    width: 125px;
}

div.news-feed{
	border-bottom: 1px solid #0fa4dd;
    float: left;
    margin: 10px 5px;
    padding-bottom: 5px;
    width: 650px;
}

div.news-feed img{
	width: 50px;
	height: 50px;
	float:left;
	border: 1px solid #ededed;
    border-radius: 3px;
}

div.news-feed p{
	float: left;
    font-size: 10px;
    font-weight: bold;
    text-decoration: underline;
}

.title{
	color: #0fa4dd;
}
div.news{
	border-bottom: 1px solid #ededed;
    float: left;
    padding: 5px;
    width: 650px;
}

div.news img{
    border: 1px solid #ededed;
    border-radius: 3px;
    height: 40px;
    margin-right: 10px;
    width: 40px;
}

div.news p{
    float: left;
    font-size: 12px;
    margin-top: 6px !important;
}

p.news-title{
	font-weight: bold !important;
    margin: 0 !important;
    padding: 0 5px 0 0 !important;
    text-decoration: none !important;
    width: auto;
}

p.news-detail{
	font-weight: normal !important;
    margin: 0 !important;
    padding: 0 !important;
    text-decoration: none !important;
    width: auto;
}

footer {
	background-color: #e2e2df;
    border-bottom: 3px solid #dddddd;
    border-top: 1px solid #9bb5d1;
    bottom: 0 !important;
    clear: both;
    color: #666;
    font-size: 11px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-left: 13%;
    padding-top: 5px;
    position: fixed;
    width: 100%;
}

#addPhoto{
    float: left;
}

#addPhoto input{
}

#addPhoto legend{
    float: left;
}

#addPhoto label{
    float: left;
}

#addPhoto p{
    float: left;
}

.profileEditForm{
    float: left;
    height: 875px;
}

.highlight {
    float: left;
    background-color: #008FD5;
    border-radius: 5px;
    color: #fff;
    padding: 0 4px;
}

.angucomplete-dropdown {
    background-color: #ECFFFF;
    color: #12295d;
    border-radius: 5px;
    border: 1px solid #008FD5;
    padding: 10px;
}

.angucomplete-selected-row {
    background-color: #12295d;
    color: #fff;
    border-radius: 5px;
}

.angucomplete-row {
    margin-top: 10px;
}

.noEvent{
    float: left;
    margin-left: 10px;

}

.division{
    float: right;
    margin-right: 10px;
}

.iconDelUp{
    float: right;
}

.update{
    background: rgba(0,0,0,0) url('images/update.jpg') repeat scroll 0 0;
    width:23px;
    height: 26px;
    margin-right: 10px;
}

.delete{
    background: rgba(0,0,0,0) url('images/delete.jpg') repeat scroll 0 0;
    width:32px;
    height: 26px;
    margin-right: 20px;
}

.update:hover{
    background: rgba(0,0,0,0) url('images/update.jpg') repeat scroll -25px 0;
    width:23px;
    height: 26px;
    margin-right: 10px;
    cursor: pointer;
}

.delete:hover{
    background: rgba(0,0,0,0) url('images/delete.jpg') repeat scroll -33px 0;
    width:32px;
    height: 26px;
    margin-right: 20px;
    cursor: pointer;
}

.right{
    float: right;
    margin-right: 30px;
}

.whoIsIn{
    float: right;
}

.rightButton{
    float: left !important;
    margin: 22px 0 10px -40px;
}